body {
  padding: 0;
  margin: 0;
  background-image: url('https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png');
  background-size: cover;
  color: white;
}
#new-game{
  display: none;
}
.card{
  height: 200px;
  width: 143px;
}
.deck{
  position: absolute;
}
.bet-selected{
  background-color: #666;
}
